.App {
  text-align: center;
  color: blue;
  background-color: black;
}

.Title {
  color: blue;
  font-weight: bold;
  font-size: xx-large;
}

.searchBoxAndResults {
  color: crimson;
  font-style: italic;
  font-weight: bold;
}